@page "/devTools"
@using RogueStarIdle.ServerApplication.Shared.State;
@inject EquipmentState equipmentState

<div class="page-content-container">
    <div class="column" style="width: 95%; style: flex; align-content: center; ">
        <ItemSelectionPopupComponent/>
    </div>
</div>

@code {


}
