@page "/devTools"
@using RogueStarIdle.ServerApplication.Shared.State;
@inject TimeState timeState;
@inject CharacterState characterState;

<div class="page-content-container">
    <div class="column" style="width: 95%; align-content: center; ">
        <text>Time Elapsed: @($"{timeElapsed.Days}:{timeElapsed.Hours}:{timeElapsed.Minutes}:{timeElapsed.Seconds}:{timeElapsed.Milliseconds}")</text>
        <text>Time Signed On: @($"{timeState.TimeSignedOn.Hour}:{timeState.TimeSignedOn.Minute}:{timeState.TimeSignedOn.Second}")</text>
        <text>
            <button @onclick="() => {timeState.AddTicks(timeState.TicksPerSecond * 60);}">Advance 1 minute</button>
            <button @onclick="() => {timeState.AddTicks(timeState.TicksPerSecond * 600);}">Advance 10 minutes</button>
            <button @onclick="() => {timeState.AddTicks(timeState.TicksPerSecond * 3600);}">Advance 1 hour</button>
            <button @onclick="() => {timeState.AddTicks(timeState.TicksPerSecond * 36000);}">Advance 10 hours</button>
            <button @onclick="() => {timeState.AddTicks(timeState.TicksPerSecond * 86400);}">Advance 1 day</button>

        </text>
        <button @onclick="()=>characterState.MainCharacter.CurrentHealth = characterState.MainCharacter.Equipment.Stats.MaxHealth">Fill Health</button>
        <ItemSelectionPopupComponent />
        <SkillPopupComponent/>
    </div>
</div>

@code {
    private int ticks;
    private TimeSpan timeElapsed;

    protected override void OnInitialized()
    {
        ticks = timeState.Ticks;
        timeState.OnChange += UpdateState;
        base.OnInitialized();
    }

    private async Task UpdateState()
    {
        ticks = timeState.Ticks;
        timeElapsed = TimeSpan.FromMilliseconds(timeState.TicksSinceLastSignIn * timeState.TickDuration);
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timeState.OnChange -= UpdateState;
    }
}
