@page "/planets"
@using RogueStarIdle.ServerApplication.Shared.State;

<div class="page-content-container">
    <NavLink href="marra">
        <img src="/Images/Marra.png" />
    </NavLink>
</div>


@code {
}