@page "/planets"
@using RogueStarIdle.ServerApplication.Shared.State;

<div class="page-content-container">
    <NavLink href="marra">
        <img src="/Images/Marra.png" width="250px" height="250px"/>
    </NavLink>
</div>


@code {
}