@page "/settings"
@using RogueStarIdle.ServerApplication.Shared.State;
@inject ActionState actionState;
@inject CharacterState characterState;
@inject InventoryState inventoryState;
@inject TimeState timeState;
@inject SaveState saveState;
@inject IJSRuntime JSRuntime
@using System.Text.Json;
@using System.Reflection;
@using System.Security.Cryptography;
@using System.Text;
@using System.IO.Compression;

<div class="page-content-container">
    <div class="column">
        <div style="row">
            <button @onclick="async () => saveState.Save(SaveToLocalStorage)">Save</button>
            <button @onclick="() => saveState.Load(LoadFromLocalstorage)">Load</button>
            <button @onclick="() => saveState.ClearSave(DeleteFromLocalStorage)">Clear Save</button>
        </div>
        <input @bind-value="importExport"/>
        <div style="row">
            <button @onclick="async () => importExport = await saveState.Export()">Export</button>
            <button @onclick="async () => saveState.Import(importExport)">Import</button>
        </div>
    </div>
</div>

@code {
    private string key = "Rogue Star Baybeeeee";
    private string importExport = "";

    public async Task SaveToLocalStorage(string key, string value)
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", key, value);
    }

    private async Task<string> LoadFromLocalstorage(string key)
    {
        return await JSRuntime.InvokeAsync<string>("localStorage.getItem", key);
    }

    private async Task DeleteFromLocalStorage(string key)
    {
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", key);
    }

}