@page "/skills"
@using RogueStarIdle.ServerApplication.Shared.State;
@inject EquipmentState equipmentState
@inject CharacterState characterState

<div class="page-content-container">
    <div class="column" style="width: 95%; align-content: center; ">
        @displayStat(characterState.mainCharacter.MeleeSkill)
    </div>
</div>

@code {
    private MarkupString displayStat(Skill skill)
    {
        string markup = $"<p> {skill.Name}: {skill.Level}   XP: {skill.Xp}/{skill.GetXpForNextLevel()}";
        return new MarkupString(markup);
    }
}
