@page "/marra"
@using RogueStarIdle.PlugIns.InMemory;
@using RogueStarIdle.ServerApplication.Shared.State;
@inject ScavengingState scavengingState;
@inject CombatState combatState;
@inject InventoryState inventoryState;
@inject IItemUseCases GetItemByIdUseCase

<div class="page-content-container">
    <div class="column" style="width: 100%">
        <h1> Marra </h1>
        <div class="row" style="width: 100%">
            <div class="column" style="width:15%">
                <button @onclick='() => SelectLocation("azuraliPlains")'>Azurali Plains</button>
                <button @onclick='() => SelectLocation("noxiousWetlands")'>Noxious Wetlands</button>
                <button @onclick='() => SelectLocation("rockyOutcropping")'>Rocky Outcropping</button>
                <button @onclick='() => SelectLocation("ancientRuins")'>Ancient Ruins</button>
                <button @onclick='() => SelectLocation("plateau")'>Plateau</button>
                <button @onclick='() => SelectLocation("cobaltForest")'>Cobalt Forest</button>
                <button @onclick='() => SelectLocation("darkChasm")'>Dark Chasm</button>
                <button @onclick='() => SelectLocation("ancientFactory")'>Ancient Factory</button>
            </div>
            <div class="column">
                @switch (location)
                {
                    case "azuraliPlains":
                        {
                            <h1> Azurali Plains </h1>
                            <div class="row">
                                <div class="column">
                                    <button @onclick="() => SelectScavenge()" style=@(scavengingState.IsScavenging? "background-color: green" : "")> Scavenge </button>
                                    <button @onclick="() => SelectHunt()" style=@(combatState.IsInCombat? "background-color: green" : "")> Hunt </button>
                                    <button @onclick="() => CollectAll()"> Collect gathered Items </button>
                                </div>
                                @if (inventoryState.AzuraliPlainsStorage.Any<Item>())
                                {
                                    <text>Items to collect:<br/></text>
                                }
                                @foreach (Item item in inventoryState.AzuraliPlainsStorage)
                                {
                                    <text>@item.Quantity x @item.Name<br/></text>
                                }
                            </div>

                            break;
                        }
                    case "noxiousWetlands":
                        {
                            <h1>Noxious Wetlands</h1>
                            break;
                        }
                    case "rockyOutcropping":
                        {
                            <h1>Rocky Outcropping</h1>
                            break;
                        }
                    case "ancientRuins":
                                            {
                            <h1>Ancient Ruins</h1>
                            break;
                        }
                    case "plateau":
                        {
                            <h1>Plateau</h1>
                            break;
                        }
                    case "cobaltForest":
                        {
                            <h1>Cobalt Forest</h1>
                            break;
                        }
                    case "darkChasm":
                        {
                            <h1>Dark Chasm</h1>
                            break;
                        }
                    case "ancientFactory":
                        {
                            <h1>Ancient Factory</h1>
                            break;
                        }
                    default:
                        {
                            break;
                        }
                }
            </div>
        </div>
    </div>
</div>


@code {
    private string location = "";

    protected override async Task OnInitializedAsync()
    {
        inventoryState.OnChange += UpdateState;
        await base.OnInitializedAsync();
    }

    async Task UpdateState()
    {
        await InvokeAsync(StateHasChanged);
    }

    void SelectLocation(string name)
    {
        location = name;
    }


    // TODO Factor out and pass in list of droppable items
    async void SelectScavenge()
    {
        if (scavengingState.IsScavenging)
        {
            scavengingState.IsScavenging = false;
            return;
        }
        scavengingState.IsScavenging = true;
        combatState.IsInCombat = false;
        scavengingState.ScavengeableItems = new List<DroppableItem>()
        {
            new DroppableItem (await GetItemByIdUseCase.ExecuteAsync(2), 10, 100, 1, 2),
            new DroppableItem (await GetItemByIdUseCase.ExecuteAsync(3), 10, 100, 1, 2)
        };
        scavengingState.SurvivalXpAtLocation = 1;
        scavengingState.SelectedStorage = inventoryState.AzuraliPlainsStorage;
    }

    async void SelectHunt()
    {
        if (combatState.IsInCombat)
        {
            combatState.IsInCombat = false;
        }
        combatState.IsInCombat = true;
        scavengingState.IsScavenging = false;
    }

    async void CollectAll()
    {
        await inventoryState.Transfer(inventoryState.AzuraliPlainsStorage, inventoryState.Inventory);
    }
}