@using RogueStarIdle.ServerApplication.Shared.State;
@using System.Diagnostics;

<div style="display: flex; justify-content: center; border:solid 1px red; height:@size%; width:@size%;">
    <div class="character">
        @if (character != null)
        {
            <div class="character-animation-wrapper">
                <CharacterAnimationComponent character=character/>
            </div>
            <div class="healthbar">
                <HealthBarComponent currentHealth=character.CurrentHealth maxHealth=character.Equipment.Stats.MaxHealth/>
            </div>
        }
        else
        {
            <img style="width: 100%" src="/Images/Empty.png" />
        }
    </div>
</div>


@code {
    [Parameter]
    public Character? character { get; set; }

    [Parameter]
    public string size { get; set; }
}