<div class="stat-popup" style="position: absolute; display: inline-block; background-color: white; border: solid black 1px; height: 20;">
    @stats
</div>

@code {
    [Parameter] public RenderFragment stats { get; set; }
}